* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ================Common==================== */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 1vh 2vw;
    background-color: #000000;
    color: #f67b20;
    border-radius: 2rem;
    font-weight: 500;
}

.khoidemo {
    width: 100vw;
    height: 100vh;
    background-color: #1be44d;
}

/* ================Header==================== */
.header.fixed {
    position: sticky;
    height: 10vh;
    background-color: #FFFCF4;
    top: -2vh
}

.header-body {
    display: flex;
    align-items: center;
    padding: 3vh 0 5vw;
}

.nav {
    margin-left: auto;
    display: flex;
    justify-content: space-between;

}

.nav ul {
    display: flex;
}

.nav a {
    display: inline-block;
    padding: 2vh 3vw;
    color: #5f5b53;
    position: relative;
}

.nav a:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.logo {
    margin-left: 2vw;
    flex-shrink: 0;
}


.header .action {
    margin-left: 5vw;
    margin-right: 5vw;
    flex-shrink: 0;

}

.header .action a {
    color: #fff;
}

.nav li.active a::after {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: #171100;
    position: absolute;
    left: 3vw;
}