* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --font-heading: "Sen", sans-serif;
    --color-main: #FFB900;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    min-width: 600px;
    /* overflow-x: hidden; */
}


/* ================Common==================== */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 1.2rem 2rem;
    background-color: #000000;
    color: #fff;
    border-radius: 2rem;
    font-weight: 500;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 6.5rem 2.4rem;
    flex-shrink: 0;
}


.heading-lv2 {
    color: #171100;
    font-family: var(--font-heading);
    font-size: clamp(2.5rem, 3.5vw, 3.8rem);
    font-style: normal;
    font-weight: 700;
    line-height: 1.27;
    /* 126.316% */
    letter-spacing: -0.76px;
    padding-bottom: 1.6rem;
}

/* Card-Box-Format Mac dinh la cua Popular*/
.box-card {
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
    width: calc(33.33% - 2rem);
    display: flex;
    flex-direction: column;
}

.box-card .card-img {
    border-radius: 12px 12px 0 0;
    width: 100%;
    height: 60%;
}

.box-card .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.desc {
    color: #5F5B53;
    font-size: clamp(1.4rem, 2vw, 1.8rem);
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
}

.card-title-font {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-2 {
    --line-clamp: 2;
}

/* ================Header==================== */
.header.fixed {
    position: sticky;
    height: 6.2rem;
    background-color: #FFFCF4;
    top: -0.25rem;
    z-index: 1;
}

.header-body {
    display: flex;
    align-items: center;
    padding: 0 2.4rem;
    min-width: 400px;
    height: 100%;
}

.nav {
    margin-left: auto;
    display: flex;
    justify-content: space-between;

}

.nav ul {
    display: flex;
}

.nav a {
    display: inline-block;
    padding: 1.2rem 2rem;
    color: #5f5b53;
    position: relative;
}

.nav a:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.logo {
    flex-shrink: 0;
}


.header .action {
    margin-left: max(3vw, 2rem);

}

.header .action a {
    color: #fff;
}

.nav li.active a::after {
    content: "";
    display: block;
    width: 1.2rem;
    height: 0.2rem;
    background-color: #171100;
    position: absolute;
    left: 2rem;
    bottom: 0.6rem;
}

/* ================Hero==================== */
.hero {
    height: calc(100vh - 6.2rem);
    display: flex;
    align-items: center;
    background-color: #FFFCF4;
}

.hero .hero-body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 3rem 2.4rem;
}

/* Media-Block */
.hero .media-block {
    display: flex;
    position: relative;
    width: 40%;
}

.hero .media-block #img-main-hero {
    object-fit: cover;
    border-radius: 24px;
    width: 100%;
}

.hero .media-block .content-media {
    position: absolute;
    height: 40%;
    width: 60%;
    bottom: 10%;
    right: -10%;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .media-block .list-media {
    display: flex;
    align-items: center;
    padding: 1.2rem 1.8rem;
    gap: 1.6rem;
}

.hero .media-block .list-media .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
}

.hero .media-block .list-media+.list-media {
    margin-top: -0.4rem;
}

.hero .media-block .icon1 {
    background-color: #FFF9E8;
}

.hero .media-block .icon2 {
    background-color: #FCEFFF;
}

.hero .media-block .icon3 {
    background-color: #EBEAFF;
}

.hero .media-block .list-about .label {
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67;
    /* 166.667% */
}

.hero .media-block .list-about {
    width: 12rem;
}

.hero .media-block .list-about .title {
    color: #5F5B53;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85;
    /* 185.714% */
}

/* Content Block */
.hero .content-block {
    width: 45%;
}

.hero .content-block h1 {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 117.241% */
    letter-spacing: -1.16px;
}

.hero .content-block .desc {
    margin-top: 2.2rem;
    color: #5F5B53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66;
    /* 166.667% */
    margin-bottom: 2.8rem;
}

.hero .content-block .list-button {
    display: flex;
    align-items: center;
    gap: 2.8rem;
}

.hero .content-block .course {
    border-radius: 32px;
    background: #FFB900;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
    padding: 1.7rem 3rem;
    /* 166.667% */
}

.hero .content-block .watch-box {
    display: flex;
    align-items: center;
    gap: 2rem;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #171100;
    font-weight: 600;
    font-size: 1.8rem;
}

.hero .content-block .watch-box .watch-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .content-block .watch-box .watch-icon::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 16px solid #FFB900;
    border-radius: 2px;
    margin-left: 4px;
}

.hero .content-block .watch-box span {
    font-size: 1.8rem;
    line-height: 1.66;
}

.hero .content-block .content-about {
    margin-top: 2.8rem;
}

.hero .content-block .content-about>.desc {
    margin-bottom: 0.3rem;
}

.hero .content-block .content-about .stats {
    display: flex;
    gap: 2.8rem;
}

.hero .content-block .content-about .stats .desc {
    margin-top: 0;
}

.hero .content-block .stats strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.22;
    /* 122.727% */
}

/* ================Popular==================== */
.popular {
    /* Xóa height: 100vh để chiều cao tự động theo nội dung */
    background-color: #fff;
}

.popular-body {
    background-color: #FFF;
}

/* Head-Popular */

.popular .head-popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.popular .head-popular .title>p {
    color: #5F5B53;
}

.popular .head-popular .list-button {
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.popular .head-popular .list-button .control-btn {
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-main);
}

.popular .head-popular .list-button .control-btn:hover {
    background-color: var(--color-main);
    color: #fff;
    cursor: pointer;
}

/* Card-Popular */
.popular .list-service {
    margin-top: 6.5rem;
    display: flex;
    flex-wrap: wrap;
    /* Cho phép các card xuống dòng */
    justify-content: space-between;
    gap: 3rem;
    /* Tạo khoảng cách giữa các card */
}

.popular .list-service .card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1.6rem 2.2rem;
}

.popular .list-service .card-content .title-rating-card {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.popular .list-service .title-rating-card a {
    color: #171100;
}

.popular .list-service .title-rating-card .rating {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}


.popular .list-service .rating .number {
    color: var(--color-main);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
}

.popular .list-service .desc {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.popular .list-service .card-content .price-book {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding-top: 0.5rem;
}

.popular .list-service .card-content .price {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66;
}

.popular .list-service .card-content .btn-book:hover {
    background-color: var(--color-main);
    color: #fff;
    transition: background-color 0.3s ease;
}

/* ================Feedback==================== */
.feedback {
    background-color: #2E2100;
}

.feedback-body {
    /* Thay height bằng padding để linh hoạt hơn */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback .info {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.feedback .info .avt {
    object-fit: cover;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.feedback .info h3 {
    margin-top: 1.8rem;
    color: #F7F7F7;
    font-family: Sen;
    font-size: clamp(2rem, 2.5vw, 2.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: 1.41;
}

.feedback .info p {
    color: #BFBCB2;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-style: normal;
    font-weight: 400;
    line-height: 1.85;
    padding-top: 0.4rem;
}

.feedback .info .dots {
    padding-top: 2.8rem;
    display: flex;
    gap: 1.8rem;
    cursor: pointer;
}

.feedback .info .dots .dot:hover {
    background-color: #FFB900;
    transition: background-color 0.3s ease;
}

.feedback .info .dots .dot {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #634700;
}

.feedback .box-quote {
    /* Gán chiều rộng để giới hạn không gian của box-quote */
    width: 70%;
    position: relative;
}

.feedback .box-quote img {
    position: absolute;
    top: -2.5rem;
    left: -2.5rem;
}

.feedback .box-quote .quote {
    color: #FFF;
    font-size: clamp(2.2rem, 2.5vw, 3rem);
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
    /* 40px / 26px */
}

/* ================Feature==================== */
/* --Feature 1-- */
.feature1 {
    background-color: #FFF;
    /* Bỏ height, thay bằng padding để linh hoạt */
    padding: 6.5rem 0;
}

.feature .feature-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

/* Image Block */
.feature .image-block {
    width: 47%;
    display: flex;
    justify-content: space-between;
    gap: 3%;

}

.feature1 .image-block .feature-img {
    border-radius: 16px;
    object-fit: cover;
    width: 47%;
    height: 100%;
}

.feature1 .image-block .feature-img2 {
    position: relative;
    top: -10%;
}

/* Media-block */
.feature1 .media-block {
    width: 45%;
    min-width: 220px;
}

.feature1 .media-block p+p {
    margin-top: 1.6rem;
}

.feature .btn-feature {
    margin-top: 2rem;
    padding: 1.1rem 2.4rem;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 2.6rem;
    background: var(--color-main);
}

/* -- Sửa lỗi button bị kéo dài trong feature 2 -- */
.feature2 .media-block .btn-feature {
    align-self: flex-start;
}

/* --Feature 2-- */
.feature2 {
    background-color: #FFF;
    /* Bỏ height, thay bằng padding để linh hoạt */
}


.feature2 .image-block {
    width: 45%;
}

.feature2 .image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.feature2 .media-block {
    width: 47%;
}

/* ================Blog==================== */
.blog {
    background-color: #FFF;
}

.blog .blog-body {
    width: 100%;
}

.blog .list-service {
    display: flex;
    justify-content: space-between;
    margin-top: 5.5rem;
    flex-wrap: wrap;
}


.blog .top-blog {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.blog .top-blog .desc {
    text-align: center;

}

/* Style cho nội dung card trong blog */
.blog .card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 2.6rem 2.2rem;
    align-items: flex-start;
}

/* Style cho link của tiêu đề bài blog (chọn thẻ a không phải là nút .btn) */
.blog .card-content>a:not(.btn) {
    color: #171100;
}

.blog .card-date {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-bottom: 1.2rem;
    color: #5F5B53;
    font-size: 1.4rem;
}

.blog .card-date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--color-main);
    margin-right: 0.8rem;
}

.blog .btn-read {
    margin-top: 1.2rem;
    padding: 1.6rem 2.4rem;
}

.blog .btn-read:hover {
    background-color: var(--color-main);
    color: #fff;
    transition: background-color 0.3s ease;
}

/* ================ Responsive ================ */

/* PC low resolution & Tablet */
@media (max-width: 991px) {
    .hero {
        height: auto;
    }

    .hero .hero-body {
        flex-direction: column;
    }

    .hero .media-block {
        width: 100%;
        order: 2;
    }

    .hero .media-block>img {
        display: none;
    }

    .hero .media-block .content-media {
        position: static;
        width: 100%;
    }

    .hero .media-block .list-media {
        justify-content: center;
    }

    .hero .content-block {
        width: 100%;
        margin-top: 3rem;
        text-align: center;
        order: 1;
    }

    .hero .stats {
        justify-content: center;
    }

    .hero .content-block .list-button {
        justify-content: center;
    }

    /* Popular */
    .popular .box-card {
        /* Hiển thị 2 card mỗi hàng */
        width: calc(50% - 1.5rem);
    }

    /* Blog */
    .blog .box-card {
        width: calc(50% - 1.5rem);
    }

    .blog .list-service {
        row-gap: 3rem;
    }

    /* feature */
    /* feature 1 */
    .feature .feature-body {
        flex-direction: column;
        gap: 4rem;
    }

    .feature .image-block {
        order: 2;
        width: 100%;
    }

    .feature .media-block {
        order: 1;
        width: 100%;
    }

    .feature1 .image-block .feature-img {
        aspect-ratio: 8 / 9;
    }

    .feature2 .image-block {
        width: 100%;
    }

    .feature2 .image-block img {
        aspect-ratio: 16 / 9;
    }
}

/* Mobile */
@media (max-width: 767px) {

    /* Header */
    header {
        display: none;
    }

    .hero {
        height: auto;
    }

    .hero .hero-body {
        flex-direction: column;
        gap: 4rem;
    }

    .hero .media-block {
        width: 100%;
    }

    .hero .media-block .content-media {
        align-items: center;
    }


    .hero .content-block {
        width: 100%;
        margin-top: 4rem;
        text-align: center;
    }

    .hero .content-block h1 {
        font-size: 4.8rem;
    }

    .hero .content-block .list-button {
        justify-content: space-around;
    }

    .hero .content-block .content-about .stats {
        justify-content: center;
    }

    /* Popular */
    .popular .head-popular {
        flex-direction: column;
        /* Xếp chồng tiêu đề và nút */
        align-items: flex-start;
        gap: 2rem;
    }

    .popular .head-popular .list-button {
        align-self: stretch;
        justify-content: space-between;
    }

    .popular .box-card {
        /* Hiển thị 1 card mỗi hàng */
        width: 100%;
    }

    .popular .box-card .price-book {
        margin-bottom: 2rem;
    }

    /* Blog */
    .blog .list-service {
        flex-direction: column;
        gap: 3rem;
    }

    .blog .box-card {
        width: 100%;
    }

    /* Feedback */
    .feedback .info {
        align-items: center;
    }

    .feedback .info p {
        text-align: center;
    }

    .feedback .info .dots {
        text-align: center;
    }

    /* feature */
    /* feature 1 */
    .feature .feature-body {
        flex-direction: column;
        gap: 4rem;
    }

    .feature .image-block {
        order: 2;
        width: 100%;
    }

    .feature .media-block {
        order: 1;
        width: 100%;
    }

}