* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: #FFFCF4;
    min-width: 600px;
}

/* ================Common==================== */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 1vh 2vw;
    background-color: #000000;
    color: #f67b20;
    border-radius: 2rem;
    font-weight: 500;
}

.box-format {
    padding-left: 4vw;
    padding-right: 2vw;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* ================Header==================== */
.header.fixed {
    position: sticky;
    height: 10vh;
    background-color: #FFFCF4;
    top: -2vh;
    margin-bottom: 5vh;
}

.header-body {
    display: flex;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    max-width: 1200px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2vh;
}

.nav {
    margin-left: auto;
    display: flex;
    justify-content: space-between;

}

.nav ul {
    display: flex;
}

.nav a {
    display: inline-block;
    padding: 2vh 3vw;
    color: #5f5b53;
    position: relative;
}

.nav a:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.logo {
    margin-left: 2vw;
    flex-shrink: 0;
}


.header .action {
    margin-left: 5vw;
    margin-right: 5vw;
    flex-shrink: 0;

}

.header .action a {
    color: #fff;
}

.nav li.active a::after {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: #171100;
    position: absolute;
    left: 3vw;
}

/* ================Hero==================== */
/* Media-Block */
.hero {
    height: 85vh;
    display: flex;
    align-items: flex-start;
    gap: 10vw;
}

.hero .media-block {
    display: flex;
    position: relative;
    width: 50vw;
    min-width: 300px;
}

.hero .media-block img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.hero .media-block .content-media {
    position: absolute;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    height: 40%;
    width: 60%;
    bottom: 3%;
    left: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero .media-block .list-media {
    display: flex;
}

.list-media .icon {
    height: 1rem;
}

/* Content Block */
.hero .content-block h1 {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 68px;
    /* 117.241% */
    letter-spacing: -1.16px;
}

.hero .content-block h3 {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.hero .content-block .cousce {
    display: inline-block;
    padding: 1vh 2vw;
    background-color: #000000;
    color: #f67b20;
    border-radius: 2rem;
    font-weight: 500;
}